// IMPORTS
@use './index' as *;

// MOBILE FIRST
.satellite_view{
    @include flexCenter(column);
    height: 25.25rem;
    padding: 0 3rem;
    background-color: $satelliteBackgroundColor;
    .satellite_view_title{
        @include styleTitle;
        text-align: center;
        h1{
            font-size: 6.5rem;
        }
    }
}

// ON BIG SCREEN
@media screen and (min-width: 750px) {
    .satellite_view{
        padding: 2rem 8rem;
    }
}