// IMPORTS
@use './index' as *;

// MOBILE FIRST
.trader{
    @include flexCenter(row);
    min-height: 45rem;
    padding: 2rem 3rem;
    background-image: url('../assets/blue_header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    .trader_card{
        @include flexCenter(column);
        align-items: flex-start;
        width: 100%;
        height: 100%;
        padding: 4rem;
        background-color: rgba(0, 0, 0, 0.85);
        gap: 2rem;
        .trader_card_column_a{
            width: 100%;
            .trader_title{
                @include styleTitle;
            }
            h3{
                font-size: 2.2rem;
                font-weight: normal;
                color: $primaryColor;
            }
            p{
                font-size: 1.25rem;
                font-weight: normal;
                font-family: 'Bellefair', serif;
            }
            h4{
                font-size: 1.25rem;
                font-weight: bold;
                font-family: 'Bellefair', serif;
            }
            .book_your_space_now_svg{
                @include flexCenter(row);
                position: relative;
                max-width: 25rem;
                width: 100%;
                height: 3rem;
                margin-top: 5rem;
                svg{
                    position: absolute;
                    max-width: 25rem;
                    width: 100%;
                }
                h2{
                    position: absolute;
                    color: $textSecondaryColor;
                    font-weight: normal;
                    text-align: center;
                    font-size: clamp(1rem, 4vw, 2rem);
                    width: 100%;
                }
            }
        }
        .trader_card_column_b{
            width: auto;
            .trader_title{
                @include styleTitle;
            }
            h2{
                margin: 0;
                font-size: 2.3rem;
                font-weight: normal;
                width: fit-content;
            }
            .trader_apply{
                color: $primaryColor;
            }
            .seperator_line{
                width: 100%;
                height: 1px;
                margin: 1.75rem 0;
                background-color: $primaryColor;
            }
        }
    }
}

// ON BIG SCREEN
@media screen and (min-width: 750px) {
    .trader{
        padding: 2rem 12rem;
        .trader_card{
            @include flexCenter(column);
            padding: 3rem;
            .trader_card_column_a{
                width: 100%;
                margin: 1rem 0;
                .book_your_space_now_svg{
                    h2{
                        font-size: clamp(1rem, 3vw, 3rem);
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 1200px) {
    .trader{
        padding: 2rem 12rem;
        .trader_card{
            @include flexCenter(row);
            padding: 6rem;
            .trader_card_column_a{
                width: 50%;
                .book_your_space_now_svg{
                    h2{
                        font-size: clamp(1rem, 3vw, 3rem);
                    }
                }
            }
        }
    }
}