$primaryColor: #00E2B7;
$backgroundColor: #000000;
$satelliteBackgroundColor: #4D4D4D;
$contactFormBackgroundColor: #1A1A1A;
$textPrimaryColor: #ffffff;
$textSecondaryColor: #000000;
$uploadButtonColor: #B3B3B3;