// IMPORTS
@use './index' as *;

// MOBILE FIRST
.visitor{
    @include flexCenter(column);
    min-height: 40rem;
    padding: 1rem 3rem;
    background-color: $backgroundColor;
    .visitor_container,
    .exhibit_container{
        @include styleTitle;
        margin: 1.5rem 0;
        h2{
            margin: 0;
            font-size: 5rem;
            font-weight: normal;
        }
        h4{
            margin: 2.5rem 0;
            font-size: 2rem;
            font-weight: normal;
            color: $primaryColor;
        }
        p{
            font-size: 1.25rem;
            font-family: 'Bellefair', serif;
            font-weight: normal;
        }
        .button{
            margin-top: 2rem;
            width: fit-content;
            svg{
                width: clamp(1rem, 50vw, 25rem);
            }
        }
    }
    .white_vertical_line{
        display: none;
    }
}

// ON BIG SCREEN
@media screen and (min-width: 750px) {
    .visitor{
        @include flexCenter(row);
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem 12rem;
        .visitor_container{
            width: 45%;
            margin: 0;
        }
        .exhibit_container{
            width: 45%;
            margin: 0;
        }
        .white_vertical_line{
            display: block;
            //margin: 1rem 0 1.5rem 0;
            width: 2px;
            min-height: 38rem;
            background-color: #ffffff;
        }
    }
}

@media screen and (max-width: 1350px) {
    .visitor{
        flex-wrap: wrap;
        .visitor_container{
            width: 100%;
            margin: 0;
        }
        .exhibit_container{
            width: 100%;
            margin: 2rem 0;
        }
        .white_vertical_line{
            display: none;
        }
    }
    
}